* {
    padding: 0;
    margin: 0;
}
#cleaner {
    clear: both;
}
.wapper {
    margin: 0px auto;
    width: 768px;
}
header {
    padding: 0px;
    background: url("img/bg-header.png")no-repeat top;
width: 768px;
height: 960px;
}
header img[src="img/Фигура_1.png"] {
    margin: 53px 0px 0px 20px;
}
header > p{
    margin: 54px 21px 0px 0px;
    float: right;
color: #ffffff;
font-family: "Proxima Nova";
font-size: 14px;
font-weight: 300;
line-height: 34.49px;
text-transform: uppercase;
letter-spacing: 0.7px;
}
header img[alt="braun-line"] {
    margin-left: -197px;
        position: absolute;;
        top: 226px;
        left: 259px;
}
header .title {
    height: 317px;
    padding: 54px 0px 0px 197px;
    background: url("img/Rectangle_1_копия.png") no-repeat center;
    margin: 140px 0px 50px 0px;
}
header .title h1:first-child{
    margin: 0px 0px 33px -108px;
}
h1 {
    position: relative;
    display: inline-block;
    width: 600px;
color: #ffffff;
font-family: "Proxima Nova";
font-size: 64px;
font-weight: 700;
text-transform: uppercase;
letter-spacing: 3.2px;
}
header nav {
    margin: 0px 0px 116px 0px;
    padding: 0px 50px;
    display: flex;
    justify-content: space-between;
color: #9071ea;
font-family: "Proxima Nova";
font-size: 16px;
font-weight: 300;
line-height: 34.49px;
text-transform: uppercase;
letter-spacing: 0.8px;
}
header nav p:hover {
    cursor: pointer;
}
header nav p:hover {
    text-decoration: underline;
}
.buttons {
    display: flex;

    margin: 0px auto 91px auto;
    width: 652px;
height: 81px;
}
.buttons .button {
    width: 311px;
    border-radius: 50px;
    background: #5e42b0;
    height: 77px;
    box-shadow: 8px 14px 24px #0a0e34;
    margin: auto;
}
.buttons .button .text p:first-of-type{
color: #b7aadc;
font-family: "Proxima Nova";
font-size: 14px;
font-weight: 300;
text-transform: uppercase;
letter-spacing: 0.7px;
}
img[src="img/Icon_-_Apple.png"], img[src="img/Icon_-_Google_Play.png"] {
    float: left;
    margin: 19px 0px 21px 43px;
}
.buttons .button .text {
    float: right;
    width: 150px;
    margin: 26px 67px 0px 0px;
}
.buttons .button .text    p:last-child {
color: #ffffff;
font-family: "Proxima Nova - Semibold";
font-size: 14px;
font-weight: 400;
text-transform: uppercase;
letter-spacing: 0.7px;
}
.one {
    height: 790px;
    background: url("img/Slice_.png") no-repeat top left;
}
.one img[src="img/Векторный_смарт-объект.png"] {
    left: -150px;
    z-index: 2;
}
.one img[src="img/Rectangle_2_copy_21_копия.png"]{
    bottom: 1020px;
    right:210px;
}
.one img[src="img/Rectangle_3_copy_21.png"]{
    right:200px;
    bottom: 1003px;
}
.one img[src="img/Rectangle_1_копия.png"] {
    bottom: 680px;
}
.one img {
    position: relative;
}
.one .images {
    position: absolute;
    width: 497px;
height: 699px;
}
.one .first {
    height: 269px;
    padding: 82px 0px 0px 0px;
}
.one .text {
    padding: 0px 0px 0px 291px;
}
.one .text .first h1 {
    margin: 0px 0px 59px 0px;
color: #e7e7e7;
font-family: "Proxima Nova";
font-size: 90px;
font-weight: 700;
line-height: 60px;
text-transform: uppercase;
}
.dic {
    display: flex;
    margin: 0px 0px 32px 0px;
}
.dic .number {
    margin: 0px 13px 0px 0px;
    color: #000000;
    font-family: "Proxima Nova";
    font-size: 18px;
    font-weight: 700;
    line-height: 34.49px;
    text-transform: uppercase;
    letter-spacing: 0.9px;
}
.number .underline{
    width: 19px;
height: 5px;
border-radius: 2px;
background-color: #5e42b0;
}
.dic > p{
    line-height: 39px;
    margin: 5px 0px 0px 0px;
color: #c1c1c1;
font-family: "Proxima Nova";
font-size: 36px;
font-weight: 700;
text-transform: uppercase;

letter-spacing: 1.8px;
}
.one .first > p , .one .second > p, .one .theard >p{
    color: #000000;
    font-family: "Proxima Nova";
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    
    letter-spacing: 0.9px;    
}
.one .text .second {
    height: 196px;
    padding-top: 40px;
    background: #f5f4f9;
}
.one .text .theard {
    padding-top: 40px;
    background: #5e42b0;
    height: 163px;
}
.one .text .theard .dic .number .underline {
    background: #efefef;
}
.one .text .theard > p{
    color: white;
}
.two {
    height: 500px;
    margin: 2px 0px 0px 0px;
    padding: 82px 0px 0px 0px;
}
.two h1 {
    color: #e7e7e7;
    font-family: "Proxima Nova";
    font-size: 90px;
    font-weight: 700;
    line-height: 60px;
    text-transform: uppercase;
}
.two .first {
    padding: 0px 0px 0px 33px;
    margin: 59px 0px 0px 0px;
}
.two .first >p{
    width: 368px;
    color: #000000;
    font-family: "Proxima Nova";
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    
    letter-spacing: 0.9px;
}
.two .second{
    padding: 63px 0px 0px 33px;
    background: #f5f4f9;
    z-index: -1;
}
.two > img {
    position: absolute;
    left: 609px;
}
.two .second > p{
    width: 413px;
    color: #000000;
    font-family: "Proxima Nova";
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    
    letter-spacing: 0.9px;
}
.two .second {
    padding-bottom: 70px;
}
.two .theard .dic .number .underline {
    background: #efefef;
}
.two .theard .dic .number {
    color: #8765dd;
}
.two .theard {
    padding: 53px 0px 56px 33px;
    background: #090c35;
}
.two .theard > p{
    width: 398px;
    color: #ffffff;
    font-family: "Proxima Nova";
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    
    letter-spacing: 0.9px;
}
.three-0 {
    margin: 289px 0px 0px 0px;
    padding: 0px 0px 63px 0px;
}
.three-0 .img {
    width: 768px;
    height: 584px;
    background: url("img/Boat.png")
}
.three-0  .number-block {
    margin: -80px 0px 0px 36px;
    width: 116px;
    height: 116px;
    z-index: 2;
    background-color: #5e42b0;
}
.three-0 .article {
    height: 584px   ;
}
.three-0 .number-block {
    display: flex;
}
.three-0 .number-block .number {
    margin: auto auto;
    color: #f5f6f7;
    font-family: "Proxima Nova";
    font-size: 24px;
    font-weight: 700;
    line-height: 34.49px;
    text-transform: uppercase;
    
    letter-spacing: 1.2px;
}
.three-0 .number-block .number .underline {
    background: #8e7bc8;
    width: 22px;
    height: 5px;
    border-radius: 2px;
    background-color: #ffffff;
    opacity: 0.3;
}
.three-0 h1 {
    margin: 51px 0px 34px 34px;
    opacity: 0.4;
    color: #c1c1c1;
    font-family: "Proxima Nova";
    font-size: 90px;
    font-weight: 700;
    line-height: 60px;
    text-transform: uppercase;
}
.three-0 >p {
    margin: 0px 0px 0px 34px;
    width: 650px;
    height: 50px;
    color: #000000;
    font-family: "Proxima Nova";
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    
    letter-spacing: 1.2px;
}
.three-0 .line{
    width: 22px;
    height: 5px;
    margin: 33px 0px 0px 34px;
    border-radius: 2px;
    background-color: #5e42b0;
}
.you1, .you2 {
    padding: 0;
    margin: 0;
}
.you1 .img {
    background: url("img/you1_img.png");
}
.you1 {
    padding-bottom: 70px;
}
.you2 {
    padding-bottom: 104px;
}
.you2 .img {
    background: url("img/you2_img.png");
}
footer {
    padding: 128px 0px 0px 0px;
    width: 768px;
    height: 831px;
    background: url("img/footer-bg.png");
}
footer img[src="img/footer-icon.png"] {
    display: block;
    margin: 0px auto 0px auto;
}
footer .footer-line {
    position: absolute;
    z-index: ;
}
footer .line-1 {
    margin: 66px 0px 0px 49px;
}
footer .line-2 {
    margin: -12px 0px 0px 336px;
}
footer h1{
    margin: 82px auto 0px auto;
    display: block;
    text-align: center;
    color: #ffffff;
    font-family: "Proxima Nova";
    font-weight: 700;
    line-height: 60px;
    text-transform: uppercase;
    
    letter-spacing: 4.85px;
}
footer h2 {
    z-index: 2;
    position: relative;
    text-align: center;
    color: #a496ca;
    font-family: "Proxima Nova";
    font-size: 36px;
    font-weight: 700;
    line-height: 60px;
    text-transform: uppercase;
}
footer .buttons {
    margin-top: 239px;
    margin-bottom: 75px;
}
footer .foot-line {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 768px;
    height: 95px;
    background-color: #0a0e34;
    opacity: 0.6;
}
footer .foot-line img {
    margin: 0px 17px;
}